
nbproject/private/private.properties
nbproject/private/private.properties
*.properties
nbproject/private/private.properties
build/classes/augrat/JavaGenerator.class
build/classes/augrat/AUGRAT.form
build/classes/augrat/AUGRAT.class
build/classes/augrat/AUGRAT$2.class
build/classes/augrat/AUGRAT$1.class
build/classes/.netbeans_update_resources
build/classes/.netbeans_automatic_build
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/private/private.properties
build/classes/augrat/AUGRAT$3.class
/dist/
*.class
*.class
*.class
*.class
